@import "~bootstrap/scss/bootstrap";

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.col-20 {
    width: 20%;
}

.my-card div {
    background-color: lightblue;
}